# --- EEG data (NEVER commit) ---
raw/
processed/
data/
*.bdf


# --- outputs (optional: keep figs/results if small; otherwise ignore) ---
outputs/
figures/
presentation/
presentation_figures/
results/

# --- python ---
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/
env/
env_ajemiri/

# --- IDE / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
derivatives/ 


#-miscellaneous
docs/
notebooks/